@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#logo {
  position: absolute;
  width: 160px;
  height: 36.02px;
  left: 60px;
  top: 60px;

  background: url("./images/logo.svg");
}
#rectangle {
  position: absolute;
  width: 130%;
  height: 392.25px;
  left: -118.75px;
  top: 137.11px;

  background: #f0f0f0;
  opacity: 0.45;
  transform: rotate(-30deg);
}

.rectangle-bar-1 {
  position: absolute;
  width: 769.01px;
  height: 13.44px;
  left: -124.11px;
  top: 414.09px;

  background: #e0e8fc;
  transform: rotate(-30deg);
}

.rectangle-bar-2 {
  position: absolute;
  width: 769.01px;
  height: 13.44px;
  left: 792px;
  top: 352.51px;

  background: #3766e8;
  opacity: 0.2;
  transform: rotate(-30deg);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 91px;

  position: absolute;
  width: 560px;
  height: 611px;
  left: 440px;
  top: 93px;

  background: #ffffff;

  box-shadow: 4px 4px 20px rgba(157, 157, 157, 0.12);
  border-radius: 15px;
}

.form-logo {
  position: absolute;
  width: 110px;
  height: 60.02px;
  left: 220px;
  top: 40px;

  background: url("./images/form-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.form-content {
  position: absolute;
  top: 110px;
}

.primary-heading {
  width: 378px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  text-align: center;

  color: #212121;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.primary-para {
  position: static;
  width: 378px;
  height: 37px;
  left: 0px;
  top: 148px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  text-align: center;

  color: #545454;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 16px 0px;
}

.input-label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-top: 15px;
  color: #545454;
}

::-webkit-input-placeholder {
  padding-left: 10px;
}

:-ms-input-placeholder {
  padding-left: 10px;
}

::placeholder {
  padding-left: 10px;
  opacity: 0.7;
}

.inp-style {
  display: block;
  width: 370px;
  height: 38px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  margin-top: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  font-size: 14px;
  position: static;
  width: 370px;
  height: 38px;
  left: 91px;
  top: 535px;

  background: #3766e8;
  border-radius: 5px;
  color: #ffffff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 0px;
}

.sizes {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.size {
  background: #f0f0f0;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
}

.default-size {
  background-color: #3766e8;
  color: white;
}

footer div {
  position: absolute;
  width: 185px;
  height: 19px;
  left: 627px;
  top: 725px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  color: #545454;
}
